/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-10, 08:48:53
    Author     : dell
*/

body {
    background: lightgrey;
}

// .scheme_side .sc_form .sc_form_field input[type="text"],
// .scheme_side .sc_form .sc_form_field textarea {
// 	background-color: #3fb9be; //lighten(#13162b,20%);
// 	color:white;
// }

h2.heading--white {
	color:#FFFFFF;
}

section.scheme_side {
	background: #FFFFFF;
}

.scheme_side h3 {
	color: black;
}